.dw-container .brand {
	line-height: 40px;
}

.dw-container .login-box {
	margin-bottom: 5px;
}

.dw-container .logout-box {
	line-height: 40px;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
}

.dw-container .edit-link {
	float: right;
	padding-top: 15px;
	padding-right: 15px;
}

.dw-container .label {
	margin-top: 15px;
	margin-right: 10px;
}

.dw-container .tag-text {
	margin-top: 15px;
	margin-right: 10px;
}