<div class="navbar">
  <div class="navbar-inner">
  <a class="brand logo" href="/">Just Say Wen</a>

    <% if session[:id] == nil %>

    <div class="navbar-form pull-right">
      <form action="/author/login" method="post" class="login-box">
        <input type="text" name="login[email]" class="input-small" placeholder="Email">
        <input type="password" name="login[password]" class="input-small" placeholder="Password">
        <input type="submit" value="Login" class="btn">
      </form>
      <a href="/create/author" class="pull-right">Create account</a>
    </div>
    
    <% else %>

    <div class="navbar-form pull-right">
      <form action="/create/post" method="get" class="pull-left logout-box">
        <input type="submit" value="Create post" class="btn">
      </form>
      
      <form action="/author/logout" method="get" class="pull-right logout-box">
        <input type="submit" value="Logout" class="btn">
      </form>
    </div>

    <% end %>

  </div>
</div>
