<div class="container">
  <a class="logo" href="/">Just Say Wen</a>
  <nav>
    <form action="/author/login" name="login-form">
      <ul>
        <li>Email: <input type="text" name="login[email]"></li>
        <li>Password: <input type="password" name="login[password]"></li>
        <li><input type="submit" value="Login"></li>
        <li><a href="/create/author">Create account</a></li>
      </ul>
    </form>
  </nav>
</div>
