<div class="container">
  <form action="/new/author" method="post" class="new-author">
    <ul>
      <li>Name:</li>
      <li><input type="text" name="author[name]"></li>
      <li>Email:</li>
      <li><input type="text" name="author[email]"></li>
      <li>Password:</li>
      <li><input type="password" name="author[password_hash]"></li>
      <li><input type="submit" value="Create"></li>
    </ul>
  </form>
</div>
