<div class="container">
  <form action="/new/post" method="post" class="blog-post">
    <ul>
      <li>Title:</li>
      <li><input type="text" name="post[title]"></li>
      <li>Content:</li>
      <li><textarea rows="10" cols="20" name="post[content]"></textarea></li>
      <li>Tags: (please separate with commas)</li>
      <li><input type="text" name="tag[name]"></li>
      <li><input type="submit" value="Post"></li>
      <!-- <input type="hidden" value="<% @id %>" name="post[author_id]"> -->
    </ul>
  </form>
</div>
