<div class="container">
	<ul class="all-posts">
		<% @posts.each do |post| %>
			<li><a href="/post/<%= post.id %>"><%= post.title %></a></li>
			<li><%= post.content %></li>
		<% end %>
	</ul>
</div>
